{% extends 'layout.html' %}
{% block body%}

<form action="/actualizar/{{productos.0}}" method="POST">
    <div class="container text-center mt-5  ">
        <div class="row">
          <div class="col-md-4 offset-md-4 ">
            
  <div class="card text-white bg-info mb-3" style="max-width: 30rem;">
    <div class="form-group m-3">
        <label class="col-form-label col-form-label-lg  " for="inputLarge">Agregar Productos</label>
        <input class="form-control form-control-lg mt-5" type="text" placeholder="Nombre" id="inputLarge" name="nombre" placeholder="Nombre" value="{{productos.1 }}">
        <input class="form-control form-control-lg mt-5" type="text" placeholder="Cantidad" id="inputLarge" name="cantidad" placeholder="Cantidad" value="{{productos.2 }}">
        <input class="form-control form-control-lg mt-5" type="text" placeholder="Supermercado" id="inputLarge" name="supermercado" value="{{productos.3 }}">
        <button type="submit" class="btn btn-primary mt-5">AGREGAR</button>
    </div>
    </div>

        </div>
        <div class="col-6">
</form>
{% endblock %}


